@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,300);

body {
    font-family:Source Sans Pro;
    margin:5vmin;
}

#name {
    font-size:3.5em;
    text-transform: uppercase;
}
input:focus {
    outline:none;
}

input#searchfield {
    border-radius:5em;
    border:1px solid #dbdbdb;
    width:70vw;
    height:2em;
    text-align:center;
    font-size:25px;
    color:#696978;
    margin:auto;
    display:inline-block;
}

form {
    text-align:center;
}

#map {
    height:80%;
    width:50%;
    float:right;
}

#images {
    display:flex;
    flex-direction:column;
}

#images img {
    width:250px;
    
}
#flag img {
    border: 0.5px black dotted;
}